<%= @doctor.name %><br>
<%= @doctor.specialty %><br>
<%= @doctor.university %><br>

<%= @doctor.hospital.name %><br>

<% @doctor.patients.each do |patient| %>
  <section id="patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to "Remove From Caseload", "/doctor_patients/#{patient.id}", method: :delete %>
  </section>
<% end %>
